[submodule "str_mut_models"]
	path = str_mut_models
	url = https://github.com/tfwillems/str_mut_models.git
	ignore = dirty
[submodule "bamtools"]
	path = bamtools
	url = https://github.com/pezmaster31/bamtools.git
	ignore = dirty
[submodule "vcflib"]
	path = vcflib
	url = https://github.com/ekg/vcflib.git
	ignore = dirty
[submodule "PhasedBEAGLE"]
	path = PhasedBEAGLE
	url = https://github.com/tfwillems/PhasedBEAGLE
